<h1>Shelters</h1>
<section class="index">
<% @shelters.each do |shelter| %>
  <div class="item">
    <div class="header"><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></div>
    <p><%= shelter.address %></p>
    <p><%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %></p><br />
    <div class = "links">
      <%= link_to "Edit #{shelter.name} Information", "/shelters/#{shelter.id}/edit" %>
      <br><%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %></br>
    </div>
  </div>
<% end %>
</ section>
<br><%= link_to "New Shelter", "/shelters/new" %></br>
