
<h3><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h3>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
<br>

<p>Number of pets at this shelter: <%= @shelter.pets.length %></p>
<p>Average Review Rating: <%= @shelter.average_review_rating %>/5</p>
<p><%= "This shelter has #{@shelter.applications} applications on file." %></p>

<h2>Reviews</h2>
<section class="index">
<% @shelter.shelter_reviews.each do |review| %>
  <section class= "review-<%= review.id %>">
    <div class="item">
    <h4><%= "Title: #{review.title}" %></h4>
    <p><%= "Rating: #{review.rating}" %></p>
    <p><%= "Description: #{review.content}" %></p>
    <%= image_tag "#{review.image}", style: "width: 75%", alt: "#{review.image}" %>
    <br><%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %>
    <br><%= link_to "Delete Reviews", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %></br>
    </div>
  </section>
<% end %>
</section>

<div class = "links">
  <br><%= link_to "Add Review", "/shelters/#{@shelter.id}/reviews/new" %></br>
  <br><%= link_to "View Pets", "/shelters/#{@shelter.id}/pets" %></br>
  <br><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %></br>
  <% if @shelter.approved_applicants == 0 %>
    <br><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></br>
  <% end %>
</div>
