
<h3><%= @shelter.name %></h3>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
<h2>Reviews</h2>
<section class="index">
<%= @shelter.shelter_reviews.each do |review| %>
  <div class="item">
  <p><%= review.title %></p>
  <p><%= review.rating %></p>
  <p><%= review.content %></p>
  <img src=<%= review.image %> style = "width:100%">
  </div>
<% end %>
</section>
<div class = "links">
<br><a href="/shelters/<%= @shelter.id %>/pets">View Pets</a></br>
<br><a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></br>
<br><a href="/shelters/<%= @shelter.id %>" data-method="DELETE">Delete Shelter</a></br>
