<h2>Pets at Shelter</h2>
<p>Pet Count = <%= @pets.count %></p>
<section class="index">
<% @pets.each do |pet| %>
  <div class="item">
    <img src= <%= pet.image %> style="width:75%">
    <div class="header"><a href="/pets/<%= pet.id %>"><%= pet.name %></a></div><br>
    <p><%= "Description: #{pet.description}" %></p>
    <p><%= "Age: #{pet.approximate_age}" %></p>
    <p><%= "Sex: #{pet.sex}" %></p>
    <p><%= "Adoption Status: #{pet.adoption_status}" %></p>
    <div class="links">
      <p><a href="/pets/<%= pet.id %>/edit">Edit Pet Information</a>
      <p><a href="/pets/<%= pet.id %>" data-method="DELETE">Delete <%= pet.name %></a></p>
    </div>
  </div>
<% end %>
</ section>
<br><a href="/shelters/<%= @shelter_id %>/pets/new">Create Pet</a></br>
<br>
