<h2>Add a New Review:</h2>
<section class="form">
  <%= form_tag("/shelters/#{@shelter_id}", method: "post") do %>
    <%= label_tag(:title, "Title: ") %>
    <%= text_field_tag(:title) %><br />
    <%= label_tag(:rating, "Rating: ") %>
    <%= select_tag(:rating, options_for_select(["1", "2", "3", "4", "5"])) %><br />
    <%= label_tag(:content, "Content: ") %>
    <%= text_field_tag(:content) %><br />
    <%= label_tag(:image, "Image: ") %>
    <%= text_field_tag(:image) %><br />
    <%= submit_tag("Submit Review") %>
  <% end %>
</section>
