<h1>Favorite Pets Index</h1>
<% if !favorite.contents.empty? %>
  <%= link_to "Remove All Pets", "/favorites", method: :delete %>
<% end %><br>

<% if favorite.contents.empty? %>
  <p>You have not added any pets.</p>
<% else %>
  <div class ="favorites">
  <% favorite.contents.keys.each do |pet_id| %>
    <section id="pets-<%= pet_id %>">
      <% pet = Pet.find(pet_id) %>
      <%= link_to "#{pet.name}", "/pets/#{pet_id.to_i}"%><br>
      <%= image_tag "#{pet.image}" %><br>
      <%= button_to "Remove from Favorites", "/favorites/#{pet.id}", method: :delete %>
    </section>
  <% end %>
  </div>
  <div class="existing_applications">
  <h2>These pets already have applications</h2>
    <% AdoptionApplication.pets.each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}"%><br>
    <% end %>
  </div>
<% end %>

<%= link_to "Apply to Adopt", "/adoption_applications/new" %>
