<h2>Update Pet:</h2>
<section class="form">
  <%= form_tag("/pets/#{@pet.id}", method: "patch") do %>
    <%= label_tag(:image, "Image: ") %>
    <%= text_field_tag(:image, @pet.image) %><br />
    <%= label_tag(:name, "Name: ") %>
    <%= text_field_tag(:name, @pet.name) %><br />
    <%= label_tag(:description, "Description: ") %>
    <%= text_field_tag(:description, @pet.description) %><br />
    <%= label_tag(:approximate_age, "Approximate Age: ") %>
    <%= text_field_tag(:approximate_age, @pet.approximate_age) %><br />
    <%= label_tag(:sex, "Sex: ") %>
    <%= select_tag(:sex, options_for_select(["Male", "Female"], @pet.sex)) %><br />
    <br>
    <%= submit_tag("Update Pet") %>
  <% end %>
</section>
