<section class="item">
<img src=<%= @pet.image %> style = "width:100%">
<h1><%= @pet.name %></h1>
<p><%= "Description: #{@pet.description}" %></p>
<p><%= "Age: #{@pet.approximate_age}" %></p>
<p><%= "Sex: #{@pet.sex}" %></p>
<p><%= "Adoption Status: #{@pet.adoption_status}" %></p>
<div class="links">

<% if favorite.favorite_status(@pet.id) == true %>
  <%= button_to "Remove from Favorites", "/favorites/#{@pet.id}", method: :delete %>
<% else %>
  <%= button_to "Add to Favorites", "/favorites/#{@pet.id}", method: :patch %>
<% end %>

<%= link_to "Change to #{@pet.adoption_status_text}", "/pets/#{@pet.id}/adopt", method: :patch %>

<a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
<br><a href="/pets/<%= @pet.id %>" data-method="DELETE">Delete Pet</a></br></div>
</section>
