<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Shelter Index", "/shelters" %></li>
              <li><%= link_to "Pet Index", "/pets" %></li>
              <li>Favorite Pets: <%= favorite.total_count %></li>
            </ul>
          </nav>
      </div>
    </header>
    <% flash.each do |type, message| %>
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
